{
  "name": "R2D2",
  "manufacturer": "Pulurobotics Oy Ltd",
  "robot_address": "192.168.43.23",
  "robot_port": "22222",
  "point_a_x": -256,
  "point_a_y": -3083,
  "point_b_x": -1261,
  "point_b_y": -1630
}
